.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}

p {
  font-size: 18px;
}

.large-margin-bottom {
  margin-bottom: 50px;
}

button {
  width: 260px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: #282c34;
  font-weight: 600;
  font-size: 14px;
}

button:hover {
  cursor: pointer;
  background-color: darkgrey;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

hr {
  width: 90%;
}

